// fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// variable

// font
$source: "Jost", sans-serif;
$titillium: "Jost", sans-serif;

// color
$dark: #000;
$white: #fff;
$theme: #8670df;
$secendary: #090825;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.btn {
  padding: 10px 30px;
  background-color: $theme;
  border-radius: 2rem;
  color: $dark;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  border: 1px solid $theme;
  transition: 0.4s;

  &:hover {
    background-color: transparent;
    color: $white;
  }

  &.btn-white {
    background-color: $white;

    &:hover {
      background-color: $theme;
      color: $dark;
    }
  }
}

.header {
  padding: 22px 0;
  position: relative;
  font-family: $source;

  .container {
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
  }

  .toggle {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        background-color: transparent;
        border: none;
        color: $theme;
        cursor: pointer;
      }
    }
  }

  .nav {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 92px;
      left: 0;
      width: 100%;
      background: linear-gradient(
        51deg,
        rgba(212, 217, 225, 1) 0%,
        rgba(244, 246, 249, 1) 100%
      );
      height: 100vh;
      transform: translateX(100%);
      transition: 0.6s;

      &.show {
        transform: translateX(0);
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding: 0 20px;
      }

      &-item {
        .dropdown {
          position: absolute;
          left: 0;
          bottom: 1000%;
          transition: 0.5s;
          width: 100%;
          height: calc(100vh - 97px);
          display: flex;
          justify-content: space-between;
          z-index: 1;

          &.show {
            bottom: unset;
            top: 100%;
          }
          @media screen and (max-width: 768px) {
            position: fixed;
            flex-direction: column;
            overflow-y: auto;
            bottom: unset;
            top: 0;
            transform: translateX(100%);

            &.show {
              transform: translateX(0);
              top: 0;
            }
          }
          &-left {
            width: 34%;
            z-index: 99;
            height: 100%;

            background: linear-gradient(
              51deg,
              rgba(212, 217, 225, 1) 0%,
              rgba(244, 246, 249, 1) 100%
            );
            padding: 40px;

            &.full {
              width: 100%;
            }

            @media screen and (max-width: 768px) {
              width: 100%;
            }

            &-wrp {
              position: relative;
              width: 100%;
              z-index: -1;

              @media screen and (max-width: 768px) {
                z-index: 99;
              }
            }

            & > h3 {
              text-transform: uppercase;
              font-size: 20px;
              font-family: $titillium;
              margin-bottom: 40px;
            }

            &-inner {
              display: grid;
              grid-template-columns: auto auto auto;
              gap: 50px;

              @media screen and (max-width: 500px) {
                grid-template-columns: auto;
              }
            }

            .inner-close,
            .close-dr {
              display: none;

              @media screen and (max-width: 1024px) {
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 999;

                & > button {
                  border: none;
                  background-color: $theme;
                  display: flex;
                  width: 20px;
                  height: 20px;
                  color: $white;
                  border-radius: 50%;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                }
              }
            }

            &-menu {
              display: flex;
              flex-direction: column;
              width: 100%;

              &-item {
                width: 100%;

                & > a {
                  width: 100%;
                  display: flex;
                  color: $dark;
                  align-items: center;
                  justify-content: space-between;
                  padding: 9px 12px;
                  font-size: 12px;
                  font-family: $titillium;
                  text-decoration: none;
                  transition: 0.5s;
                  background: transparent;

                  svg {
                    font-size: 16px;
                  }
                }

                &:hover,
                &.active {
                  & > a {
                    background: transparent
                      linear-gradient(261deg, #275ac5 0%, #4b13a2 100%) 0% 0%
                      no-repeat padding-box;
                    color: $white;

                    svg {
                      color: #00d2f4;
                    }
                  }
                }

                &-body {
                  position: absolute;
                  left: 34%;
                  top: 0;
                  z-index: -1;
                  transform: translateX(-110%);
                  transition: 0.6s;
                  width: 66%;
                  height: 100%;
                  color: $white;
                  padding: 40px;

                  & > .inner {
                    width: 50%;

                    @media screen and (max-width: 1024px) {
                      width: 100% !important;
                    }

                    & > h3 {
                      font-size: 28px;
                      margin-bottom: 20px;
                    }

                    & > ul {
                      display: flex;
                      flex-direction: column;
                      gap: 20px;

                      & > li {
                        p {
                          font-size: 14px;
                          font-family: $titillium;
                          padding-bottom: 10px;
                        }

                        a {
                          display: flex;
                          align-items: center;
                          color: $white;
                          font-size: 14px;
                          font-weight: 800;
                          gap: 20px;
                          text-decoration: none;

                          svg {
                            color: $theme;
                            transition: 0.6s;
                          }

                          &:hover {
                            svg {
                              transform: translateX(5px);
                            }
                          }
                        }
                      }
                    }

                    & > strong {
                      display: block;
                      margin-bottom: 20px;
                      font-size: 28px;
                      font-weight: 400;
                    }

                    & > .menu {
                      li {
                        & > a {
                          width: 100%;
                          display: flex;
                          color: $dark;
                          align-items: flex-start;
                          gap: 0px;
                          padding: 9px 12px;
                          font-weight: 400;
                          font-size: 16px;
                          font-family: $titillium;
                          text-decoration: none;
                          transition: 0.5s;
                          background: transparent;

                          flex-direction: column;

                          svg {
                            font-size: 16px;
                          }

                          &:hover,
                          &.active {
                            background: transparent
                              linear-gradient(261deg, #275ac5 0%, #4b13a2 100%)
                              0% 0% no-repeat padding-box;
                            color: $white;

                            svg {
                              color: #00d2f4;
                            }
                          }
                        }
                      }
                    }
                  }

                  &.body-1 {
                    background: url(https://www.fisglobal.com//-/media/fisglobal/images/Main/Generic/Navigation/nav-img-financial-institutions.jpg);
                  }
                  &.body-2 {
                    background: url(https://www.fisglobal.com//-/media/fisglobal/images/Main/Pages/Homepage/nav-img-securities-and-investments.jpg);

                    & > .inner {
                      width: 66%;
                    }
                  }

                  &.sol {
                    background: linear-gradient(
                      51deg,
                      rgba(212, 217, 225, 1) 0%,
                      rgba(244, 246, 249, 1) 100%
                    );
                  }

                  &.show {
                    transform: translateX(0);
                  }

                  @media screen and (max-width: 768px) {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 9999 !important;
                    height: 100%;

                    &.show {
                      transform: translateX(0);
                    }
                  }
                }
              }
            }
          }
          &-right {
            width: 40%;
            padding: 30px;
            background: linear-gradient(
              51deg,
              rgba(212, 217, 225, 1) 0%,
              rgba(244, 246, 249, 1) 100%
            );

            @media screen and (max-width: 768px) {
              width: 100%;
            }

            &-top {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin-bottom: 30px;

              & > .left {
                display: flex;
                flex-direction: column;
                gap: 20px;

                strong {
                  font-size: 18px;
                }
              }

              & > .right {
                button {
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 22px;
                  color: $theme;
                  border: 2px solid $theme;
                  border-radius: 50%;
                  position: relative;

                  & > span {
                    position: absolute;
                    top: 110%;
                    font-size: 14px;
                    font-weight: 800;
                    color: $dark;
                  }

                  @media screen and (max-width: 768px) {
                    display: none;
                  }
                }
              }
            }

            &-body {
              display: flex;
              flex-direction: column;

              li {
                border-top: 2px solid #7c7878;
                height: calc((80vh / 3) - (80px / 4));
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                transition: 0.4s;
                z-index: 1;
                position: relative;
                transform-origin: right;

                & > strong {
                  font-size: 24px;
                  font-weight: 400;

                  span {
                    font-weight: 800;
                  }
                }

                & > p {
                  font-size: 16px;
                  padding: 10px 0;
                }

                a {
                  display: flex;
                  align-items: center;
                  color: $white;
                  font-size: 18px;
                  font-weight: 800;
                  gap: 20px;
                  text-decoration: none;
                  color: $dark;

                  svg {
                    color: $theme;
                    transition: 0.6s;
                  }

                  &:hover {
                    svg {
                      transform: translateX(5px);
                    }
                  }
                }

                &::after {
                  content: "";

                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: -1;
                  transition: 0.4s;
                  transform-origin: center right;
                }

                &:hover {
                  color: $white;

                  a {
                    color: $white;
                    transform: scaleX(1.1);
                  }

                  &::after {
                    background-image: linear-gradient(
                      90deg,
                      rgba(74, 21, 163, 1) 0%,
                      rgba(95, 0, 255, 1) 100%
                    );
                    transform: scaleX(1.1) scaleY(1.03);
                  }
                }
              }
            }
          }
        }
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: $dark;
        letter-spacing: 0.54px;
        font-size: 15px;
        font-family: $titillium;
        font-weight: 600;
        transition: 1s;
        padding: 10px 5px;

        svg {
          color: $theme;
          transition: 0.4s;
        }

        &:hover {
          color: $theme;
        }

        &.active {
          color: $theme;

          svg {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}
